*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
font-family:"Oswald";
background:#56baed;
}
header{
	max-width: 100%;
	height: 300px;
	background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.0)), url("https://vojkorotar.files.wordpress.com/2013/08/dvorana-bonifika-po-prenovi-koper-20-8-2013-foto-vojko-rotar-0042.jpg") center no-repeat;
	background-size: cover;
    overflow: hidden;
}
/*NAVBAR SECTION*/
#firstnav{
    display: block;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: none;
    font-family:"Oswald";
    font-size: 16px;
    weight:400;
    line-height: 20px;
    text-decoration: none solid rgb(54, 53, 51);
    word-spacing: 0px;
    }

    #brand {
        transition:transform .7s ease-in-out;
        cursor:pointer;
        width:150px;
        height:auto;}

    #brand:hover{
    transform:rotate(360deg);
    }
nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: yellow;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}
.dropdown .dropdown-menu{
    background-color: transparent;
    border-style:none;
}


#dmtekst{
    font-size: 14px;
    text-transform: uppercase;
}


nav ul li a{
    background: none;
    display: block;
    padding: 8px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    margin-top: 20px;
}

.container-fluid, #standings, table{
margin-left: auto;
margin-right: auto;
}

#standings{
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-top: 70px;
   margin-bottom: 60px;
}

#standings h2{
   font-family:"Oswald";
   margin-bottom: 20px;
   color: rgba(250,199,16);
   margin-bottom: 30px;
}

.styled-table {
    border-collapse: collapse;
    justify-content: center;
    font-size: 1.2em;
    min-width: 400px;
    box-shadow: 0 0 20px;
}

.styled-table thead tr {
    background-color: rgba(80,161,194);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    font-family:"Oswald";
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(80,161,194);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: rgba(250,199,16);
    /*#E52B2B*/
}


/*game*/



/*end game*/



::selection{
  color: #fff;
  background:#56baed;
}

.select-box, .play-board, .result-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.select-box{
  background: #fff;
  padding: 20px 25px 25px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}
.select-box.hide{
  opacity: 0;
  pointer-events: none;
}
.select-box header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.select-box .title{
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0;
}
.select-box .options{
  display: flex;
  width: 100%;
}
.options button{
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  background: #56baed;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.options button:hover,
.btn button:hover{
  transform: scale(0.96);
}
.options button.playerX{
  margin-right: 5px;
}
.options button.playerO{
  margin-left: 5px;
}
.select-box .credit{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.select-box .credit a{
  color: #56baed;
  text-decoration: none;
}
.select-box .credit a:hover{
  text-decoration: underline;
}

.play-board{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.play-board.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.play-board .details{
  padding: 7px;
  border-radius: 5px;
  background: #fff;
}
.play-board .players{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.players span{
  position: relative;
  z-index: 2;
  color: #56baed;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 0.3 ease;
}
.players.active span:first-child{
  color: #fff;
}
.players.active span:last-child{
  color: #56baed;
}
.players span:first-child{
  color: #fff;
}
.players .slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #56baed;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.players.active .slider{
  left: 50%;
}
.players.active span:first-child{
  color: #56baed;
}
.players.active span:nth-child(2){
  color: #fff;
}
.players.active .slider{
  left: 50%;
}
.play-area{
  margin-top: 20px;
}
.play-area section{
  display: flex;
  margin-bottom: 1px;
}
.play-area section span{
    display: block;
    height: 90px;
    width: 90px;
    margin: 2px;
    color: #56baed;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
}

.result-box{
    padding: 25px 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    opacity: 0;
    text-align: center;
    background: #fff;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
.result-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.result-box .won-text{
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.result-box .won-text p{
  font-weight: 600;
  margin: 0 5px;
}
.result-box .btn{
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.btn button{
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background: #56baed;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}




#sponsors{
margin:20px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

}

#sponsors h3{
    font-weight:400;
    font-style:normal;
    font-size:38px;
    color:rgb(255,208,1);
    none solid rgb(0, 117, 62);
    font-family:"Oswald";
    text-transform:uppercase;
    text-align:center;
}

#sponsors span{
    color:black;
}

#spons{
    display:flex;
    height:100%;
    width: 100%;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    background-color: white;
}
#footer {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/static/img/footerbackground.png); background-repeat: no-repeat; background-size: cover;
    overflow: hidden;

}

#footer .container{
padding:15px 0 0 0;
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr;
  grid-column-gap: 2px;
  font-family:"Oswald";

}

.first h4 {
    font-size: 14px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

    .first h4::after {
        content: '';
        background: #FFD700;
        width: 25%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
    }


.first li {
    list-style: none;
    padding-bottom: 10px; /* change space between links*/

}

.first a, .first2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;

}

    .first a:hover, .first2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none
    }
.second{

text-align:center;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

}
.socials{

display:flex;
flex-direction:row;
align-items:center;
justify-content:space-evenly;
height:30%;
width:30%;
}

.socials a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

   .socials a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none

    }

    .third h4 {

        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
        text-align:right;
    }


        .third h4::after {
            content: '';
            background: #FFD700;
            width: 25%;
            height: 2px;
            position: absolute;
            bottom: 0;
            right:0%;
        }

.third a{
margin-left:15px;
text-decoration:none;
color:#CBCBCB;
}

    .third li {
    display:flex;
    align-items:center;
    justify-content:flex-end;
        list-style: none;
        padding-bottom: 25px;
        font-size: 16px;
        font-family:"Oswald";
        color: rgb(206, 206, 206);
        letter-spacing: 0px;
        text-align:right;
    }


    .third li:hover {
        text-decoration: none;
        transition: 0.2s;
    }


.recentNews {
    background-color:rgb(233,166,44);
    background-image: -webkit-linear-gradient(160deg, rgba(0,160,227,0.8) 76%, rgba(255,208,1,0.8)50%);

}
.recentNews .news-title {
    text-align:center;
    padding-top:60px;
    padding-bottom:30px;
    font-family:"Oswald";;
    font-size:28px;
    font-weight:bold;
    color: #fff;
}
.recentNews .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

}
.recentNews .ct-blog {
    margin-bottom: 30px;
}
.ct-blog .inner {
    background-color: #FFF;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    height: 100%;
    border-radius: 10px;
}
.ct-blog .inner:hover {
    background-color: #e6e6e6;
}
.ct-blog .fauxcrop {
    height: 180px;
    overflow: hidden;
}
.ct-blog .fauxcrop img {
    width: 100%;
}
.ct-blog-content {
    display: table;
    padding: 30px 0 28px;
}
.ct-blog-content .ct-blog-date {
    border-right: 1px solid #95A5A6;
    display: table-cell;
    font-family:"Oswald";
    padding: 0px 18px 0px 15px;
    text-align: center;
}
.ct-blog-content .ct-blog-date span {
    font-size: 16px;
    color: rgb(20, 117, 175);
    font-weight: 700;
    display: block;
    line-height: 1;

}
.ct-blog-content .ct-blog-date strong {
    font-size: 25px;
    color: rgb(20, 117, 175);
    font-family:"Oswald";
}
.ct-blog-content .ct-blog-header {
    color: #000;
    display: table-cell;
    font-size: 22px;
    font-weight: 550;
    letter-spacing: -0.2px;
    line-height: 1.1;
    padding: 0 20px;
    vertical-align: top;
    font-family:"Oswald";
}
.btn-news {
    color: #333;
    font-size: 14px;
    padding-bottom: 30px;
    text-align: center;

}
.btn-news.btn-contests a {
    color: #fff;
    font-family:"Oswald";
    font-size: 24px;
    transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
    color: #000;
}

#fotogalerija{
position: relative;
top: 60px;
font-size: 24px;
}

@media screen and (min-width:320px) and (max-width:640px) {

#standings, table{
width: 100%;
height: auto;
font-size: 9px;
margin-left: 0;
margin-right: 0;
}

#sponsors h3{
font-size:20px;}

.styled-table {
    border-collapse: collapse;
    justify-content: center;
    font-size: 0.9em;
    min-width: 100px;
    box-shadow: 0 0 20px;
}


.styled-table th,
.styled-table td {
    padding: 5px;
    font-family:"Oswald";
}

#standings h2{
   font-size: 17px;
}

.recentNews .news-title {
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    font-family:"Oswald";;
    font-size:17px;
    font-weight:bold;
    color: #fff;
}



.first h4, .third h4{
font-size:16px;
}
.second{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:100%;
}
.img-responsive{
width:80px;
display:block;
height:auto;
}
.third{
display:flex;
flex-direction:column;
justify-content:start;
align-items:flex-end;
width:100%;
height:auto;
}

.first li {
font-size:15px;
}

.third li {
font-size:15px;
}

.recentNews .container-fluid .row{
width: 350px;
height: auto;
margin-left: auto;
margin-right: auto;
}

ct-blog-content .ct-blog-date {
    border-right: 1px solid #95A5A6;
    display: table-cell;
    font-family: "Lato", sans-serif;
    padding: 0px 18px 0px 15px;
    text-align: center;
}
.ct-blog-content .ct-blog-date span {
    font-size: 12px;
    color: rgb(20, 117, 175);
    font-weight: 700;
    display: block;
    line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
    font-size: 18px;
    color: rgb(20, 117, 175);
}
.ct-blog-content .ct-blog-header {
    color: #000;
    display: table-cell;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    padding: 0 20px;
    vertical-align: top;
}

#firstnav{
        font-size:15px; /*nav size*/
  }
    .dropdown .dropdown-menu{
    background-color: transparent;
    border-style:none;

}


#dmtekst{
    font-size: 15px;
    text-transform: uppercase;
  }
  #brand{
  width:70px;
  height:auto;
  }
  header{
  height:auto;
  }

}