<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball Club Koper</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
</head>
<body>
    <header>
<div id="firstnav">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="background-image: linear-gradient(#12232E, #12232E);">
  <div class="container-fluid">
      <img id="brand" src="static/img/LogoKK.png" class="img-fluid" alt="logotip kluba">
      <div class="topright" style="margin-top: 10px;">
    <button class="navbar-toggler ms-auto mb-2 mb-lg-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
           <li class="nav-item">
          <a style="background-color: transparent;" class="nav-link active text-white" aria-current="page" href="/"><i class="fa fa-home" aria-hidden="true"></i>Domov</a>
        </li>
        <li class="nav-item">
          <a style="background-color: transparent;" class="nav-link active text-white" aria-current="page" href="/"><i class="fa fa-folder" aria-hidden="true"></i>Novice</a>
        </li>
        <li class="nav-item">
          <a style="background-color: transparent;" class="nav-link active text-white" aria-current="page" href="/Senior"><i class="fa fa-id-card" aria-hidden="true"></i>Člani</a>
        </li>
        <li class="nav-item">
          <a style="background-color: transparent;" class="nav-link active text-white" aria-current="page" href="#"><i class="fa fa-users" aria-hidden="true"></i>Mladi</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-info-circle" aria-hidden="true"></i>O Klubu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dmtekst">
            <li><a class="dropdown-item text-white bg-transparent" href="/about">Poslanstvo</a></li>
            <li><a class="dropdown-item text-white bg-transparent" href="/about">Vodstvo</a></li>
            <li><a class="dropdown-item text-white bg-transparent" href="/about">Kontakt</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
    </header>
 <section class="about-company-section">
    <div class="container p-1 p-sm-3">
      <div class="row">
        <div class="col-12 text-center">
          <h2 id="poslanstvo" style="color: white;"> Poslanstvo</h2>
          <hr />
        </div>
        <div class="col-md-3">
            <br>
            <img class="img-fluid" src="static/img/Logo_2.png"><!-- tu sem dodal spet sliko oz logo ker se mi zdi lepše kot pa samo napis čez celo stran -->

        </div>

        <div class="col-md-9">
          <p style="font-weight:600"> <!-- tu sem dodal weight texta pri napisu v poslanstvu -->


            Mlade želimo navdušiti nad košarko, saj le-ta predstavlja
            veliko več kot le šport.

            S pomočjo košarke in raznolikosti, ki jo ponuja, želimo otroke
            naučiti vrednot, ki jim bodo v prihodnosti močno koristile,
            tako v košarki kot tudi v izobraževanju in kasneje v karieri.

            Skozi igro in šport se ogromno naučimo. Izobrazba in
            košarka sta naši smernici na poti do uspeha.
          </p>
        </div>
      </div>
    </div>
  </section>
    <section class="team">
    <section class="pt-3 pb-4 ">
      <div class="container">
          <div id="row2" class="row mt-4">
            <div class="col text-center">
              <h2 id="vodstvo">Vodstvo</h2>
            </div>


          </div>
          <hr style="color:white;">
            </div>
       <div class="our-team">
       <div class="container">
    <br>
    <div class="profiles">
      <div class="profile">
        <img src="static/img/bh.jpg" class="profile-img">
        <h4 class="user-name">Bošjan Hrabar</h4>
        <h5>President</h5>
      </div>
      <div class="profile">
        <img src="static/img/LV.jpg" class="profile-img">
        <h4 class="user-name">Luka Vončina</h4>
        <h5>Vice President and GM</h5>
      </div>
      <div class="profile">
        <img src="static/img/jf.JPG" class="profile-img">
        <h4 class="user-name">Jani Fortuna</h4>
        <h5>Head Youth Coach</h5>
      </div>
    </div>
  </div>
       </div>
  </section>
    <section class="contactus" style="background-color: #4DA8DA">
     <div class="container">
        <div class="row">
        <div class="col-12 text-center">
            <h2 id="kontakt" style="margin-top:20px; color: white;">Kontakt</h2>

          </div>
            <hr/>
            <form>
            <div class="container">
		<div class="contact-box">
			<div class="left">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89461.78439948373!2d13.596618287134268!3d45.51650464889362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477b689796d68a05%3A0x7cad6a99c041ec6a!2sArena%20Bonifika!5e0!3m2!1ssl!2ssi!4v1623515710863!5m2!1ssl!2ssi" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
			<div class="right">
				<input type="text" class="field" placeholder="Tvoje ime">
				<input type="text" class="field" placeholder="Tvoja e-pošta">
				<input type="text" class="field" placeholder="Telefon">
				<textarea placeholder="Sporočilo" class="field"></textarea>
				<button class="btn">Pošlji</button>
			</div>
		</div>
	</div>
</form>
        </div>

     </div>

    </section>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>
