<!DOCTYPE HTML>
<html>
  <head>
    <title>BC Koper</title>

    <!--LINK ZA MOBILNE-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
          <link rel="stylesheet" href="static/css/style_new.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">

  </head>


<body>
<header>
<div id="firstnav">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-color: transparent !important;">
  <div class="container-fluid">
      <img id="brand" src="static/img/logo_2.png" class="img-fluid" alt="logotip kluba">
      <div class="topright" style="margin-top: 10px;">
    <button class="navbar-toggler ms-auto mb-2 mb-lg-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="background-color: transparent;" class="nav-link active text-white" aria-current="page" href="/news"><i class="fa fa-folder" aria-hidden="true"></i>Novice</a>
        </li>
        <li class="nav-item">
          <a style="background-color: transparent;" class="nav-link active text-white" aria-current="page" href="/Senior"><i class="fa fa-id-card" aria-hidden="true"></i>Člani</a>
        </li>
        <li class="nav-item">
          <a style="background-color: transparent;" class="nav-link active text-white" aria-current="page" href="/youngster"><i class="fa fa-users" aria-hidden="true"></i>Mladi</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-info-circle" aria-hidden="true"></i>O Klubu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dmtekst">
            <li><a class="dropdown-item text-white bg-transparent" href="/about">Poslanstvo</a></li>
            <li><a class="dropdown-item text-white bg-transparent" href="/about">Vodstvo</a></li>
            <li><a class="dropdown-item text-white bg-transparent" href="/about">Kontakt</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

<div id="slajd" class="slideshow-container">

<div class="mySlides">
  <p class="quotes">"DREAM AS IF YOU WILL LIVE FOREVER, LIVE AS
        IF YOU'LL DIE TODAY."</p>
  <p class="author">- Lebron James</p>
</div>

<div class="mySlides">
  <p class="quotes">"TO SUCCEED YOU HAVE TO BELIEVE
    IN SOMETHING WITH SUCH A PASSION THAT IT BECOMES A REALITY."</p>
  <p class="author">- Luka Dončič</p>
</div>

<div class="mySlides">
  <p class="quotes">"SOME PEOPLE WANT IT TO HAPPEN, SOME WISH IT WOULD HAPPEN,
    AND OTHERS MAKE IT HAPPEN."</p>
  <p class="author">- Michael Jordan</p>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

</header>
<div class="finalresult">
    <div class="container">
        <div class="result">
        <h3>Zadnji <span>Rezultat</span></h3>
            </div>
</div>

<div id="scoreboard">
    <div class="container">
        <div class="homelogo">
         <img src="static/img/logo_2.png" width="150" height="130">
        </div>
        <div class="hometeam">
            <h3>BC KOPER </h3>
            </div>
         <div class="score">Rezultat
                <div class="table">
					<div class="left"><h2>88</h2></div>
                    <div class="middle"><h4>VS</h4></div>
					<div class="right"><h2>58</h2></div>
                </div>
            </div>
        <div class="awayteam">
           <h3>AWAY TEAM NAME</h3>
        </div>
        <div class="awaylogo">
         <img src="static/img/awayteam.png" width="150" height="150" border-radius="25px">
        </div>
    </div>
</div>
    <div class="container">
        <div class="outlineborderbottom">
            </div>
</div>

</div>
<div class="container">
   <div class="titletimer">
    <h3>DO NASLEDNJE <span>TEKME ŠE:</span></h3>
</div>
</div>
<div class="container-fluid" id="countdown">
<div class="container" id="timer"></div>
    </div>
<div class="container">
        <div class="bottomborder">
            </div>
</div>

<section>
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="static/img/pexels.jpeg" alt="Logotip/picture" width="100%" height="100%">
    </div>
    <div class="flip-card-back" id="firstcard">
        <h2></h2>
        <h3>TRENIRAJ Z NAMI</h3>
        <p>Včlani se v BC Koper in postani KOŠARKAR!</p>
        <a href="/contact">Vpisni list</a>
    </div>
  </div>
</div>

  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="static/img/pexels1.jpeg" alt="Logotip/picture" width="auto" height="100%">
    </div>
    <div class="flip-card-back" id="secondcard">
        <h2></h2>
        <h3>ZADNJE NOVICE</h3>
        <p>MINI POKAL SPAR
        <br>
          Prejšnji konec tedna, 25. septembra, se je pričela nova sezona Mini Pokala SPAR -
          tekmovanje za košarkarje mlajše od 13 let...
        </p>
        <a href="/news">Preberi več</a>
    </div>
  </div>
</div>

  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="static/img/pexels-photo-5170498.jpeg" width="100%" height="100%" alt="Logotip/picture">
    </div>
    <div class="flip-card-back" id="thirdcard">
        <h2></h2>
        <h3>IZOBRAZBA, KOŠARKA, USPEH</h3>
        <p>V Kopru želimo v naslednjih 5 letih postaviti mednarodno prepoznavno
        košarkarsko akademijo za mlade...</p>
        <a href="/about">Preberi več</a>
    </div>
  </div>
</div>
</section>

<div id="sponsors">
    <h3>Naši <span>Sponzorji</span></h3>
    <div class="container" id="spons">
        <div class="sponsor1">
            <img class="img-responsive" src="static/img/titus.png" width="250" height="auto">
        </div>
        <div class="sponsor2">
            <img class="img-responsive" src="static/img/lukakoper.png" width="250" height="auto">
        </div>
        <div class="sponsor3">
            <img class="img-responsive" src="static/img/marjetica.png" width="250" height="auto">
        </div>
        <div class="sponsor4">
            <img class="img-responsive" src="static/img/avtoplus.jpg" width="250" height="auto">
        </div>
    </div>
</div>



<div id="footer">
<div class="container">
  <div class="first">
    <h4> Selekcije</h4>
          <li><a href="/Senior">Članska ekipa</a></li>
          <li><a href="/youngster">U-17</a></li>
          <li><a href="/youngster">U-15</a></li>
          <li><a href="/youngster">U-13</a></li>
          <li><a href="/youngster">U-11</a></li>
          <li><a href="/youngster">U-9</a></li>
          <li><a href="/contact">Vpis v košarkarsko šolo</a></li>
  </div>
  <div class="second">
<img class="img-responsive" src="/static/img/LogoKK.png" width="200"height="auto" alt="Logo_kluba_2">

      <div class="socials">
          <a href="https://www.instagram.com/bckoper/" target="_blank"> <i class="fab fa-instagram fa-2x"></i></a>
          <a href="https://www.facebook.com/BCKOPER/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
          </div>
      </div>

  <div class="third">
<h4> Kontakt</h4>
     <li>Basketball Club Koper </li>
     <li><i class="far fa-envelope"></i><a href="mailto:info@bckoper.si">info@bckoper.si</a></li>
     <li><i class="far fa-envelope"></i><a href="mailto:bostjan.hrabar@bckoper.si">bostjan.hrabar@bckoper.si</a></li>
     <li><i class="far fa-envelope"></i><a href="mailto:luka.voncina@bckoper.si">luka.voncina@bckoper.si</a></li>
     <li><i class="fas fa-map-marker-alt"></i><a>Koper</a></li>
  </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script>
var slideIndex = 0;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  var myTimer;

showSlides();

function showSlides() {
    var i;
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}
    dots[slideIndex-1].className += " active";
    slides[slideIndex-1].style.display = "block";
    myTimer = setTimeout(showSlides, 5000); // Change image every 5 seconds
}

function currentSlide(no) {
    var i;
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slideIndex = no;
    slides[no-1].style.display = "block";
    dots[no-1].className += " active";
    clearTimeout(myTimer);
    myTimer = setTimeout(showSlides, 5000);
}

function plusSlides(n) {
  var newslideIndex = slideIndex + n;
  if(newslideIndex < 4 && newslideIndex > 0){
     currentSlide(newslideIndex);
  }
}
</script>
<script>
    const SECOND = 1000;
const MINUTE = 60 * SECOND;
const HOUR = 60 * MINUTE;
const DAY = 24 * HOUR;

/**
 * Calculates the difference between two timestamps, returns a quadruple with
 * the difference in days, hours, minutes and seconds.
 *
 * @param {number} future
 */
const timestampDiff =
    future =>
    /** @param {number} past */
    past =>
        [DAY, HOUR, MINUTE, SECOND].map((time, index, times) => {
            const diff = future - past;
            const previousTime = times[index - 1];

            return (
                Math.floor(diff / time) -
                (Math.floor(diff / previousTime) * (previousTime / time) || 0)
            );
        });

/**
 * Start timer and set the content of the element.
 *
 * @param {string} date
 */
const timer =
    date =>
    /** @param {HTMLElement} target */
    target => {
        const diff = timestampDiff(Date.parse(date));

        return setInterval(() => {
            const [days, hours, minutes, seconds] = diff(Date.now());

            // Ideally we should have targets for every element
            // to avoid updating the entire innerHTML of the container with
            // every tick.
            target.innerHTML = `
                <div>${days}<span>Dni</span></div>
                <div>${hours}<span>Ur</span></div>
                <div>${minutes}<span>Minut</span></div>
                <div>${seconds}<span>Sekund</span></div>
            `;
        }, SECOND);
    };

// We finally run it (and we save the interval return value if we want to stop it later)
const interval = timer("nov 6, 2021 22:30:00")(document.querySelector("#timer"));

</script>


</body>
</html>