<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARHIV NOVIC</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/newster.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
</head>
<body>

<header>
<img id="brand" src="static/img/logo_2.png" class="img-fluid" alt="logotip kluba">
    <h2 class="sign">ARHIV NOVIC</h2>
</header>
<br>
<br>
<hr>
<container class="container-fluid" id="news">
    <img id="first" src="static/img/zakon.jpeg" class="img-fluid" alt="news_one">
    <p id="first_p">
        V košarkarskem društvu BC KOPER smo pred zaključkom šolskega leta organizirali in izvedli
        tri košarkarske dogodke, katerih slogan je bil Košarka je Zakon. S tem smo hoteli košarko
        približati najmlajšim osnovnošolcem in jim obenem predstaviti novoustanovljeni košarkarski
        klub. Prvi dogodek smo izvedli v soboto, 22. maja v telovadnici Srednje tehnične šole v
        Kopru.
        <br>
        <br>
        Pripravili smo jim vadbe na različnih postajah, kjer so spoznavali osnovne košarkarske
        elemente: vodenje, podajanje in lovljenje žoge, metanje na koš ipd. Poleg košarkarskih
        elementov pa smo dopoldansko dogajanje popestrili še s teniškimi
        osnovami.
        <br>
        <br>
        Pri izvedbi dogodkov so sodelovali različni strokovni sodelavci, igralci starejših kategorij,
        starši. Udeležencem smo zagotovili vodo in prigrizek na koncu dogodka. Vsi trije dogodki so
        bili za udeležence brezplačni. Vse tri dogodke je spremljala tudi dobrodelnost. V sodelovanju
        s Palčico pomagalčico in dobrodelnimi škrati smo zbirali plastične zamaške.
    </p>
    <br>
    <hr>
    <br>
    <img id="second" src="static/img/mini.jpeg" class="img-fluid" alt="news_sec">
    <p id="sec_p">
        Prejšnji konec tedna, 25. septembra, se je pričela nova sezona Mini Pokala SPAR -
        tekmovanje za košarkarje mlajše od 13 let. Tekmovanje poteka vse do meseca februarja, ko
        bo na sporedu finalni turnir Pokal SPAR, kjer se bodo medseboj udarile najmočnejše članske
        ekipe v državi. Vzporedno s slednjim bo na sporedu tudi finale Mini Pokala SPAR.
        <br>
        <br>
        Naši selekciji, Rumeni in Modri, sta se v soboto, 25. septembra, v Športni dvorani Livade
        Izola, pomerili s prvimi nasprotniki. Rumena ekipa novega Koprskega kluba, je premagala kar
        oba tekmeca; KK Izola z izjemno zmago s 104:19, KK Cerknico pa s 56:18. BC Koper Modri, pa
        so v prvi tekmi proti KK Postojna, žal morali priznati premoč s 50:29, vendar so naslednjo
        tekmo proti Košarkaškemu klubu Vrhnika B zmagali z veliko prednostjo (65:18).
        <br>
        <br>
        V naslednjem krogu Mini Pokala SPAR, ki je na sporedu 9. oktobra, bomo navijali za prvo
        ekipo, BC Koper Rumeni, ki se bodo v domači dvorani pomerili proti KK Kras! BC Koper
        Modri se, zaradi premajhnega števila igralcev, žal niso uvrstili v naslednji krog.
        <br>
        <br>
        Čestitke fantje!
    </p>
    <br>
    <hr>
    <br>
    <img id="third" src="static/img/group6.jpeg" class="img-fluid" alt="news_third">
    <p id="third_p">
        Košarkarski klub BC Koper sporoča, da bomo v letošnji sezoni sodelovali tudi v članskem
        tekmovanju. Ekipa se je v preteklih tednih spoznavala in trenirala, ter se tako pripravljala na
        začetek sezone 4. državne košarkarske lige.
        <br>
        <br>
        Sezona se bo pričela 16. oktobra, ko se bojo naši člani v gosteh potegovali za zmago z
        Ivančno Gorico. Naslednji konec tedna, pa se vračajo v domačo dvorano na STŠ Koper, kjer
        se bodo pomerili z KK Kras. Do takrat, pa jih ta četrtek čaka prijateljska tekma v Trstu, z
        ekipo KK Bor.
        <br>
        <br>
        Seznam igralcev: Erik Benigar, Gaj Ferluga, Gaj Gombar, Matic Hrabar, Tin Hvalec, Anej
        Koradin, Miha Markič, Izak Molan, Leonard Pegan, Maj Primik, Vito Stanovnik, Rok Terčelj,
        Alvin Testen, Andrej Volk, Klemen Žigon, Marko Zaro
    </p>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <a class="btn" href="/"><i class="fa fa-home" aria-hidden="true" style="font-size: 2em;"></i></a>
    <br>
    <br>
    <br>


</container>
</body>
</html>